.results{
    padding: 25px;
    background: rgba(255,255,255,0.5);

    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(245,245,245)),
            color-stop(1, rgb(255,255,255))
    );
    border-bottom: 3px solid rgba(0,0,0,0.125);
}

.results .result-info{
    font-size: 20px;
    color: #0B6971;
}

.results .company{
    padding: 20px 15px;
    background: rgba(0,0,0,0.1);
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}