.search .wrapper{
    margin-bottom: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(245,245,245)),
            color-stop(1, rgb(255,255,255))
    );
    border-bottom: 3px solid rgba(0,0,0,0.125);
}

.search .textbox-group{
    padding: 25px 40px;
}

.search .textbox-group .textbox{
    border-radius: 20px;
    border: none;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
}

.search .options-group{
    color: black;
}