.welcome .inner{
    position: relative;
    margin-bottom: 100px;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(235,235,235)),
            color-stop(1, rgb(245,245,245))
    );
    border-bottom: 3px solid rgba(0,0,0,0.125);
    font-weight: bold;
}


.welcome .title-wrapper{
    border-radius: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}
.welcome .title-wrapper .title{
    margin: 30px 25px;
    font-size: 23px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 10px;
}

.welcome .skyline{
    width: 100%;
    border-radius: 10px;
}