.footer .inner{
    margin-bottom: 100px;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(235,235,235)),
            color-stop(1, rgb(245,245,245))
    );
    border-bottom: 3px solid rgba(0,0,0,0.125);
}